
<!-- ==============================================
            ABOUT
            =============================================== -->
<section id="about" class="big-padding">

    <div class="container">

        <h1 class="section-title">My Profile<span class="main-color">3</span></h1>

        <div class="row profile">

            <div class="col-sm-10 col-sm-offset-1 text-center">

                <figure class="hover-wrapper scrollimation fade-right">
                    <img class="img-responsive img-circle profile-img" src="~/assets/images/profile.jpg" alt="">
                    <figcaption class="hover-text">That's Me!</figcaption>
                </figure>

                <h2 class="scrollimation fade-left">Benton Landry</h2>
                <h3 class="scrollimation fade-left">C# Expert</h3>

                <p class="margin-top scrollimation fade-right">I am Benton Landry, a twenty five year old designer from NY. I have graduated with a Bachelor degree of Graphic & Web Design, from the University of Pasadena. I have a passion for creating challenging, intuitive and beautiful products. My design process is very hands-on and visual.</p>

                <p class="lead margin-top scrollimation fade-left">Developing is not just a job for me, it's a passion. </p>
                <p class="scrollimation fade-left"><a class="btn btn-dc btn-main-color" href="@Url.Action("Portfolio","Home")">My Portfolio</a></p>

            </div>

        </div>

    </div>

</section>
<!-- ==============================================
TWITTER
=============================================== -->
<section id="twitter-feeds" class="bg-main-color">

    <div class="container text-center scrollimation fade-right">

        <div class="row">

            <div class="col-sm-10 col-sm-offset-1">

                <h1>Latest tweets</h1>
                <p><i class="fa fa-twitter"></i></p>

                <div id="twitter-slider" class="flexslider" data-widget-id="753680635110236161" data-max-tweets="5"></div>

                <p><a href="https://twitter.com/CBentonL" data-toggle="tooltip" data-placement="bottom" title="Follow Me on Twitter" target="_blank">@@CBentonL</a></p>
                @*<a class="twitter-timeline" href="https://twitter.com/search?q=CBentonL" data-widget-id="753680635110236161">Tweets about CBentonL</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>*@
                @*<a class="twitter-timeline" href="https://twitter.com/CBentonL">Tweets by CBentonL</a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>*@
            </div>
        
        </div>

    </div>

</section>

