<section id="portfolio" class="big-padding">

    <div class="container">

        <h1 class="section-title">My portfolio<span class="main-color">4</span></h1>
        <p class="subtitle">See what people say about my work</p>

        <!--==== Portfolio Filters ====-->

        <div class="text-center scrollimation fade-up">
            <div id="filter-works" class="btn-group">
                <button data-filter="*" type="button" class="btn btn-default active">All Items<span class="project-count"></span></button>
                <button data-filter=".JS" type="button" class="btn btn-default">JS Exercises<span class="project-count"></span></button>
                <button data-filter=".blog" type="button" class="btn btn-default">Blog<span class="project-count"></span></button>
                <button data-filter=".bug" type="button" class="btn btn-default">Bug Tracker<span class="project-count"></span></button>
                <button data-filter=".budget" type="button" class="btn btn-default">Budget<span class="project-count"></span></button>
                <button data-filter=".car" type="button" class="btn btn-default">Car Finder<span class="project-count"></span></button>
            </div>
        </div>

    </div>

    <div class="container scrollimation fade-up">

        <div id="projects-container" class="row">

            <!-- ==============================================
            SINGLE PROJECT ITEM
            =============================================== -->

            <a class="project-item col-sm-6 col-md-4 col-lg-3 JS" href="~/JS2.html">

                <img class="img-responsive project-image" src="~/assets/images/projects/thumb-1.jpg" alt="">

                <div class="hover-title">
                    <h2 class="project-title">Javascript Exercise 2</h2><!--Project Title -->
                    <p>Find the Factorial!</p><!--Project Subtitle -->
                </div>

            </a>

            <a class="project-item col-sm-6 col-md-4 col-lg-3 JS" href="~/JS4.html">

                <img class="img-responsive project-image" src="~/assets/images/projects/thumb-2.jpg" alt="">

                <div class="hover-title">
                    <h2 class="project-title">Video project</h2><!--Project Title -->
                    <p>Youtube video</p><!--Project Subtitle -->
                </div>

            </a>

            <a class="project-item col-sm-6 col-md-4 col-lg-3 JS" href="~/JS4.html">

                <img class="img-responsive project-image" src="~/assets/images/projects/thumb-3.jpg" alt="">

                <div class="hover-title">
                    <h2 class="project-title">Fullwidth images</h2><!--Project Title -->
                    <p>Professional Web Design</p><!--Project Subtitle -->
                </div>

            </a>

            <a class="project-item col-sm-6 col-md-4 col-lg-3 JS" href="~/vimeo-project.html">

                <img class="img-responsive project-image" src="~/assets/images/projects/thumb-4.jpg" alt="">

                <div class="hover-title">
                    <h2 class="project-title">Another Video project</h2><!--Project Title -->
                    <p>Vimeo video</p><!--Project Subtitle -->
                </div>

            </a>

            <a class="project-item col-sm-6 col-md-4 col-lg-3 bug" href="~/slider-project.html">

                <img class="img-responsive project-image" src="~/assets/images/projects/thumb-6.jpg" alt="">

                <div class="hover-title">
                    <h2 class="project-title">Project with Slider</h2><!--Project Title -->
                    <p>Modern Business Card</p><!--Project Subtitle -->
                </div>

            </a>

            <a class="project-item col-sm-6 col-md-4 col-lg-3 car" href="~/images-project.html">

                <img class="img-responsive project-image" src="~/assets/images/projects/thumb-7.jpg" alt="">

                <div class="hover-title">
                    <h2 class="project-title">Fullwidth images</h2><!--Project Title -->
                    <p>Poster Design</p><!--Project Subtitle -->
                </div>

            </a>

            <a class="project-item col-sm-6 col-md-4 col-lg-3 blog" href="~/slider-project.html">

                <img class="img-responsive project-image" src="~/assets/images/projects/thumb-8.jpg" alt="">

                <div class="hover-title">
                    <h2 class="project-title">Project with Slider</h2><!--Project Title -->
                    <p>Personal Business Card</p><!--Project Subtitle -->
                </div>

            </a>

            <a class="project-item col-sm-6 col-md-4 col-lg-3 budget" href="~/vimeo-project.html">

                <img class="img-responsive project-image" src="~/assets/images/projects/thumb-5.jpg" alt="">

                <div class="hover-title">
                    <h2 class="project-title">Video project</h2><!--Project Title -->
                    <p>Vimeo video</p><!--Project Subtitle -->
                </div>

            </a>



        </div>

        <p class="lead text-center">Like what you see? Contact me to discuss about your project!</p>
        <p class="text-center"><a class="btn btn-dc btn-main-color" href="@Url.Action("Contact", "Home")">Contact Me</a></p>

    </div>
    <div id="project-viewer" class="modal fade">

        <span id="close-project-viewer" data-dismiss="modal">&times;</span>

        <div class="container">

            <div id="project-viewer-content"></div>








            <div id="project-viewer-footer">

                <div class="project-nav">

                    <span class="previous-project" data-toggle="tooltip" data-placement="bottom" title="Previous Project"><i class="fa fa-long-arrow-left"></i></span>
                    <span class="back-to-portfolio" data-toggle="tooltip" data-placement="bottom" title="Back to Portfolio" data-dismiss="modal"><i class="fa fa-th-large"></i></span>
                    <span class="next-project" data-toggle="tooltip" data-placement="bottom" title="Next Project"><i class="fa fa-long-arrow-right"></i></span>

                </div>
            </div>
        </div>
    </div>
</section>


