<section id="portfolio" class="big-padding">

    <div class="container">

        <h1 class="section-title">My portfolio<span class="main-color">5</span></h1>
        <p class="subtitle">See what people say about my work</p>

        <!--==== Portfolio Filters ====-->

        <div class="text-center scrollimation fade-up">
            <div id="filter-works" class="btn-group">
                <button data-filter="*" type="button" class="btn btn-default active">All Items<span class="project-count"></span></button>
                <button data-filter=".JS" type="button" class="btn btn-default">JS Exercises<span class="project-count"></span></button>
                <button data-filter=".blog" type="button" class="btn btn-default">Blog<span class="project-count"></span></button>
                <button data-filter=".bug" type="button" class="btn btn-default">Bug Tracker<span class="project-count"></span></button>
                <button data-filter=".budget" type="button" class="btn btn-default">Budget<span class="project-count"></span></button>
                <button data-filter=".car" type="button" class="btn btn-default">Car Finder<span class="project-count"></span></button>
            </div>
        </div>

    </div>

    <div class="container scrollimation fade-up">

        <div id="projects-container" class="row">

            <!-- ==============================================
            SINGLE PROJECT ITEM
            =============================================== -->

            <a class="project-item col-sm-6 col-md-4 col-lg-3 JS" href="~/JS2.html">

                <img class="img-responsive project-image" src="~/assets/images/projects/factorial.jpg" alt="">

                <div class="hover-title">
                    <h2 class="project-title">Factorial Fun</h2><!--Project Title -->
                    <p>Find the Factorial!</p><!--Project Subtitle -->
                </div>

            </a>

            <a class="project-item col-sm-6 col-md-4 col-lg-3 blog" href="~/coming-soon.html">

                <img class="img-responsive project-image" src="~/assets/images/projects/blog-pic.jpg" alt="">

                <div class="hover-title">
                    <h2 class="project-title">Personal Blog Project</h2><!--Project Title -->
                    <p>What I am learning at Coder Foundry</p><!--Project Subtitle -->
                </div>

            </a>

            <a class="project-item col-sm-6 col-md-4 col-lg-3 budget" href="~/coming-soon.html">

                <img class="img-responsive project-image" src="~/assets/images/projects/budget-tracker.jpg" alt="">

                <div class="hover-title">
                    <h2 class="project-title">Budget Tracker Project</h2><!--Project Title -->
                    <p>Be smart with your money!</p><!--Project Subtitle -->
                </div>

            </a>

            <a class="project-item col-sm-6 col-md-4 col-lg-3 JS" href="~/JS3.html">

                <img class="img-responsive project-image" src="~/assets/images/projects/fizz-buzz.jpg" alt="">

                <div class="hover-title">
                    <h2 class="project-title">The (In)Famous FIZZ BUZZ Project</h2><!--Project Title -->
                    <p>3 Fizz 5 Buzz 15 Fizzbuzz</p><!--Project Subtitle -->
                </div>

            </a>

            <a class="project-item col-sm-6 col-md-4 col-lg-3 JS" href="~/JS4.html">

                <img class="img-responsive project-image" src="~/assets/images/projects/palindrome-1.jpg" alt="">

                <div class="hover-title">
                    <h2 class="project-title">Palindrome Checker</h2><!--Project Title -->
                    <p>Is Race Car a Palindrome?</p><!--Project Subtitle -->
                </div>

            </a>

            <a class="project-item col-sm-6 col-md-4 col-lg-3 car" href="~/coming-soon.html">

                <img class="img-responsive project-image" src="~/assets/images/projects/car-finder.jpg" alt="">

                <div class="hover-title">
                    <h2 class="project-title">Car Finder Project</h2><!--Project Title -->
                    <p>Find All You Need To Know About Your Car</p><!--Project Subtitle -->
                </div>

            </a>

            <a class="project-item col-sm-6 col-md-4 col-lg-3 JS" href="~/JS1.html">

                <img class="img-responsive project-image" src="~/assets/images/projects/mathematical-operations.jpg" alt="">

                <div class="hover-title">
                    <h2 class="project-title">Number Operations</h2><!--Project Title -->
                    <p>Find the Least, the Greatest, the Mean, the Sum, and the Product of 5 numbers</p><!--Project Subtitle -->
                </div>

            </a>

            <a class="project-item col-sm-6 col-md-4 col-lg-3 bug" href="~/coming-soon.html">

                <img class="img-responsive project-image" src="~/assets/images/projects/bug-tracking.jpg" alt="">

                <div class="hover-title">
                    <h2 class="project-title">Bug Tracker Project</h2><!--Project Title -->
                    <p>Terminate those bugs in your project!</p><!--Project Subtitle -->
                </div>

            </a>



        </div>

        <p class="lead text-center">Like what you see? Contact me to discuss about your project!</p>
        <p class="text-center"><a class="btn btn-dc btn-main-color" href="@Url.Action("Contact", "Home")">Contact Me</a></p>
    </div>
    <div id="project-viewer" class="modal fade">
        <span id="close-project-viewer" data-dismiss="modal">&times;</span>

        <div class="container">

            <div id="project-viewer-content"></div>








            <div id="project-viewer-footer">

                <div class="project-nav">

                    <span class="previous-project" data-toggle="tooltip" data-placement="bottom" title="Previous Project"><i class="fa fa-long-arrow-left"></i></span>
                    <span class="back-to-portfolio" data-toggle="tooltip" data-placement="bottom" title="Back to Portfolio" data-dismiss="modal"><i class="fa fa-th-large"></i></span>
                    <span class="next-project" data-toggle="tooltip" data-placement="bottom" title="Next Project"><i class="fa fa-long-arrow-right"></i></span>

                </div>
            </div>
        </div>
    </div>
</section>


