

<!-- ==============================================
TESTIMONIALS
=============================================== -->
<section id="testimonials" class="big-padding skills-bg">

    <div class="container">

        <h1 class="section-title">Skills/Resume<span class="main-color">2</span></h1>
        <p class="subtitle">See what people say about my work</p>

        <div class="row">

            <div class="col-lg-10 col-lg-offset-1 col-sm-12">


                <div class="testimonial-controls">
                    <span class="previous"><i class="fa fa-angle-left"></i></span>
                    <span class="next"><i class="fa fa-angle-right"></i></span>
                </div>

                <div id="testimonials-slider" class="flexslider">

                    <ul class="slides">

                        <li>
                            <div class="media scrollimation fade-right">

                                <div class="media-left">

                                    <img class="media-object img-circle" src="~/assets/images/client-1.jpg" alt="">

                                </div>

                                <div class="media-body">

                                    <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus nec magna eget ultricies. Class aptent taciti sociosqu ad litora torquent per conubia nostra Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus nec magna eget ultricies. Class aptent taciti sociosqu ad litora torquent per conubia nostra</p>
                                    <p class="client">John Doe / <a href="#link">Google Inc.</a></p>

                                </div>

                            </div>

                            <div class="media scrollimation fade-left">

                                <div class="media-body">

                                    <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus nec magna eget ultricies. Class aptent taciti sociosqu ad litora torquent per conubia nostra</p>
                                    <p class="client">John Doe / <a href="#link">Google Inc.</a></p>

                                </div>

                                <div class="media-right">

                                    <img class="media-object img-circle" src="~/assets/images/client-2.jpg" alt="">

                                </div>

                            </div>
                        </li>

                        <li>

                            <div class="media">

                                <div class="media-body">

                                    <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus nec magna eget ultricies. Class aptent taciti sociosqu ad litora torquent per conubia nostra</p>
                                    <p class="client">John Doe / <a href="#link">Google Inc.</a></p>

                                </div>

                                <div class="media-right">

                                    <img class="media-object img-circle" src="~/assets/images/client-3.jpg" alt="">

                                </div>

                            </div>

                            <div class="media">

                                <div class="media-left">

                                    <img class="media-object img-circle" src="~/assets/images/client-4.jpg" alt="">

                                </div>

                                <div class="media-body">

                                    <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus nec magna eget ultricies. Class aptent taciti sociosqu ad litora torquent per conubia nostra</p>
                                    <p class="client">John Doe / <a href="#link">Google Inc.</a></p>

                                </div>

                            </div>

                        </li>

                    </ul>

                </div>

            </div>

        </div>

    </div>

</section>

<div class="white-bg">

    <div class="container">

        <div class="row">

            <div class="col-sm-3">

                <a href="#"><img class="img-responsive client-logo" src="~/assets/images/client-logo-1.png" alt="" /></a>

            </div>

            <div class="col-sm-3">

                <a href="#"><img class="img-responsive client-logo" src="~/assets/images/client-logo-2.png" alt="" /></a>

            </div>

            <div class="col-sm-3">

                <a href="#"><img class="img-responsive client-logo" src="~/assets/images/client-logo-3.png" alt="" /></a>

            </div>

            <div class="col-sm-3">

                <a href="#"><img class="img-responsive client-logo" src="~/assets/images/client-logo-4.png" alt="" /></a>

            </div>
        </div>

    </div>

</div>


<!-- Button trigger modal -->
<div class="row">
    <div class="col-xs-5">
    </div>
    <div class="col-xs-5">
        <button class="btn btn-dc btn-main-color" data-toggle="modal" data-target="#myModal">
            View Resume
        </button>
    </div>
    
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Resume</h4>
            </div>
            <div class="modal-body">
                <div style="text-align: center;">
                    <iframe src="https://docs.google.com/document/d/10D4xaj8JGEVfZ0AJTLKqzxry7FS9dpVCaRFihlPsXcA/pub"
                            style="width:800px; height:800px;" frameborder="0"></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                
            </div>
        </div>
    </div>
</div>
